.detail{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.current_detail{
    display: flex;
    height: 28vh;
    overflow: hidden;
    justify-content: center;
    margin-bottom: 20px;
}
.current_detail_img{
    width: 20%;
    flex: 1;
}
.current_detail_img .img{
    width: 100%;
    height: 100%;
    border-radius: none;
    font-size: 10em;
    background: #D8B9C3;
}
.detail_info{
    flex: 4;
    height: 100%;
    margin: auto;
    line-height: 0.1px;
    color: #eaeaea;
    margin-top: 15px;
}
.detail_info p{
    text-align: start;
    margin-left: 20px;
    font-weight: 550;
    color: #eaeaea;

}
.user{
    display: flex;
    margin-left: 20px;
    align-self: flex-end;
}
.title{
    margin-left: 20px;
    font-weight: 800;
}

